.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgba(15, 38, 92, 0.5);
  height: 150px;
  padding: 20px;
  /* color: white; */
}

.App-title {
  font-size: 2.5em;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.meetings {
  height: 100pt;
  width: 25%;
  background-color: rgba(15, 253, 219,.50);
  color: black;
  text-align: center;
  margin: 80px 20px 10px 90px; 
  float: left;
  padding: 20px;
  font-size: 2.0em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.awards {
  color: black;
  padding: 20px;
  font-size: 2.0em;
  height: 100pt;
  width: 25%;
  font: sans-serif;
  text-align: center;
  margin: 80px 20px 10px 20px; 
  background-color: rgba(1, 255, 9,.50);
  float: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.notices {
  padding: 20px;
  font-size: 2.0em;
  height: 100pt;
  width: 25%;
  color: black;
  font: sans-serif;
  text-align: center;
  margin: 80px 20px 10px 20px; 
  float: left;
  background-color: rgba(255, 113, 60,.50);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text{
  color: white;
  padding: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
  /* background-image: url("https://c1.staticflickr.com/1/126/387606063_408c203f6c_b.jpg"); */
  background-color: #cccccc;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("https://c1.staticflickr.com/1/126/387606063_408c203f6c_b.jpg")
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.single_item{
  color: white;
  padding: 20px;

}
@media only screen and (max-width: 600px) {
  .menu {
    font-size: 1em;
  }
}

@media only screen and (max-width: 500px) {
  .menu {
    font-size: .5em;
  }
}
